body {
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(0deg, rgba(149,208,10,1) 0%, rgba(121,212,11,1) 48%, rgba(52,136,0,1) 100%);
}

.title {
    text-align: center;
    color: #374f3d;
    font-size: 2em;
}

#applications-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.application-item {
    background-color: rgb(255, 255, 255, 0.4);
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin: 10px;
}

.application-item:hover {
    background-color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}