body {
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(0deg, rgba(149,208,10,1) 0%, rgba(121,212,11,1) 48%, rgba(52,136,0,1) 100%);
}

.title {
    text-align: center;
    color: #374f3d;
    font-size: 2em;
    text-transform: capitalize;
}

.container {
    display: flex;
    justify-content: center;
}

.instances-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.instances-item {
    background-color: rgb(255, 255, 255, 0.4);
    width: 150px;
    margin: 5px;
    border-radius: 10%;
    margin: 5px;
}

.instances-item:hover {
    background-color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}