<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/details.css' %}">
    <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <p class="title">Details | {{ application }} #{{ id }} </p>
    <div class="details-container">
        {% for param in params %}
            <a href="/{{ application }}/{{ id }}/{{ param.0 }}" style="color: black; text-decoration:none">
                <div class="details-item">
                    <i class="fa fa-{{ param.1 }}"></i>
                    <h6>{{ param.2 }}</h6>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>